.Button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    color: black;
    margin: 20px 20px;
}

Button:hover { 
    background-color: yellow;
    cursor: pointer;
  }
  Button:disabled {
    background-color: tan;
    border: 2px solid blueviolet;
    cursor: not-allowed;
  }